# data manipulation
numpy
scipy
joblib
betterspy
statsmodels
pandas==0.24.0
pandas-profiling

# data viz
dash
bokeh
plotly
pillow
seaborn
matplotlib
chart_studio

# ml
nltk
gensim
xgboost
catboost
imblearn
scikit-learn

# for convenience
rope
twine
psutil
jupyter
autopep8
jupyterlab

# Other pluggins
slacker # Slack connection
psycopg2 # BDD
ruptures